/* HEADER E NAVBAR */

header {
    background-color: #0084fd;
    color: white;
    width: 100%;
    height: 100px;
    display: flex;
    z-index: 1;
    justify-content: space-between;
   
}

.top-container {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5)
   
}

nav button {
    border-color: transparent;
    border-radius: 25px;
    padding: 5px;
    margin-left: 30px;
}

/* MAIN CONTAINER E SEZIONI */

main {
    width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding-top: 50px;
    
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 25px;
    justify-content: center;
   
}

.card-servizi {
    width: 300px;
    height: 300px;
    background-color: #b5ddff;
    display: flex;
    flex-direction: row;
    border-radius: 25px;
    z-index: 1;
    justify-content: center;
}


#telefono {
    width: 620px;
    height: 300px;
    
}

.spiega {
    flex-direction: column;
    text-align: left;
    margin-left: 25px;
    vertical-align: middle;
}

#app-button {
    border-color: transparent;
    background-color: #0083fc;
    color: white;
    border-radius: 25px;
    padding: ì5px;
}
.card-servizi > i {
    color: #0084fd;
    justify-content: center;
    width: 300px;
    height: 300px;
    display: inline-flex;
    flex-direction: row;
}

.section-servizi {
    height: 750px;
    display: flex;
    flex-direction: row;
}

.section-pianificazione {
    background-color: #9792e4;
    height: 600px;
    display: flex;
    flex-direction: row;
   
}

.col-wm .col-mn {
    flex-direction: column;
}

.col > img {
    width: 300px;
}

.col-wm > img {
    height: 300px;
}

.col-mn > img {
    height: 300px;
}


.section-partners {
    height: 600px;
    display: inline;
   
}

.testimonial {
    width: 800px;
    height: 250px;
    background-color: #9792e4;
    color: white;
    border-radius: 25px;
    display: flex;
}

.section-benefit {
    background-color: #9792e4;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
}

#title-benefit {
    display: inline;
    text-align: center;
}

.card-benefici {
    background-color: #ffffff;
    color: #9792e4;
    text-align: left;
    width: 200px;
    height: 300px;
    border-radius: 25px;
}

.section-about {
    display: flex;
}

.section-call {
    background-color: #9792e4;
    height: 400px;
}


/* FOOTER */

footer {
    width: 100%;
    height: 150px;
    background-color: #333333;
    color: white;
    text-align: center;
   
}


/* RESPONSIVE */